.search-result {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.names {
    background-color: transparent;
    padding: 5px 10px;
}

.title {
    font-weight: bold;
}

.artist {}

.search-result:hover {
    background-color: #efefef;
    cursor: pointer;
}